/********** overall styles ***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
   background-color: #EBEBEB;
}

img{
   display: block;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
    color: #ABAAAA;
    
}

h1, h2{
    font-family: 'Chango', cursive;
    
}
h1{
    font-size: 40px;
    position: absolute;
    top: -90px;
    letter-spacing: .5px;
    
}
.cp{
    font-size: 24px;
    position: absolute;
    top: -20px;
    
}

p{
    font-family: 'Abhaya Libre', serif;
    font-size: 19px;
    padding-right: 7px;
}
/* mobile landing */
#dHero{
    display: none;
}
.about{
    padding: 15px 20px 0 20px;
    position: relative;
}

.about p{
    padding-bottom: 7px;
}
/* mobile dropdown  */
.accordion li{
    list-style: none;
}

.accordion:first-of-type{
    margin-bottom: 10px;
}

.mLabel, .dLabel{
    background-color: #ABAAAA;
    height: 341px; 
    font-family:'Chango', cursive ;
    font-size: x-large;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
   
}

.mLabel div:last-child, .dLabel div:last-child  {
    margin-left: auto;
    padding: 0 20px 20px 0;
}

.labelName{
    padding-left: 20px;
    font-size: 24px;
}

.mHero1C, .dHero1C{
   position: relative;
   height: 341px; 
}

.mHero1, .dHero1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}
/* mobile project styles */
.mProject, .dProject {
    height: 341px;
    display: flex;
    align-items: flex-end;  
}
.mProject div, .dProject div {
    display: flex;
    flex-direction: column;
    height: 115px;
    width: 100%;
}
.mProject div:last-child p, .dProject div:last-child p{
   margin-top: auto;
}
/* mobile project desciptions */
.mProjectInfo, .dProjectInfo{
    height: 115px;
    width: auto;
    padding: 12px 20px 5px 20px; 
    background-color: #2d2d2def;
    color: #EBEBEB; 
} 
/* mobile link styles */
.aLink{
    color: black;
    font-weight: bolder;
}
.mLink{
    position: absolute;
    width: 100%;
    height: 226px;
    margin-bottom: 115px;
}
.mProjectInfo p, .dProjectInfo p{
    font-size: 17px;
    padding-bottom: 2px;
    display: block;
    
}
.iLink{
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.h3Span{
    font-size: 19px;
}
span{
    font-size: 14px;
    color: #EBEBEB;
    
}
span .credit{
    color:#EBEBEB;
    font-weight: bolder;
    
}
.overlayFooter{
    margin-top: auto;
}
/* footer styles */
footer{
    height: 50px;
    display: flex;
}
footer p{
    font-size: 14px;
    margin: auto auto auto 0;  
    padding-left: 20px;
}

/* mobile project images */
#m1{
    background-image: url(images/thumbnails/bus.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#m2{
    background-image: url(images/thumbnails/davisDestinations.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#m3{
    background-image: url(images/thumbnails/davisBricks.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#m4{
    background-image: url(images/thumbnails/soundMap.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* desktop project images */
#d1{
    background-image: url(images/thumbnails/davisRedo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#d2{
  
    background-image: url(images/thumbnails/davisPoll.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d3{
    background-image: url(images/thumbnails/davisBench.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d4{
    background-image: url(images/thumbnails/davisPuzzle2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d5{
    background-image: url(images/thumbnails/davisTapestry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d6{
    background-image: url(images/thumbnails/sealKnowledge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d7{
    background-image: url(images/thumbnails/davisMission.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d8{
    background-image: url(images/thumbnails/davisBuddies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#d9{
    background-image: url(images/thumbnails/interactiveSeal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
#d10{
    background-image: url(images/seal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
/* hide or show projects in mobile dropdown */
.visible{
    display: block;
}

.hidden{
    display: none;
}

/****** hide desktop ******/
#desktop{
    display: none;
}
.dFooter{
    display: none;
}
.aboutFooter p{
    display: none;
}

/********** mobile styles **********/


/********* mobile projects mobile view *********/




/********** desktop styles *********/
@media screen and (min-width: 600px){
/****** hide mobile ******/

body{
    display: grid;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}
main{
    border: #ABAAAA solid .75px;
}
#mobile{
    display: none;
}
footer{
    display: none;
}

.left{
    position: relative;
    overflow: hidden;}
.aboutFooter p{
    position: absolute;
    display: block;
    font-size: 15px;
    bottom: -60px;
    color: #2d2d2def;
}
.mFooter{
    display: none;
}
.dFooter{
    display: block;
    position: absolute;
    right: -20px;
    bottom: -76px;
    width: 150px;
}
ul{
    display: none;
}
section{
    margin-bottom: 0;
}
#mHero{
   display: none;
}

#dHero{
    display: block;
    padding-right: 20px;
    padding-bottom: 2px;
}

h1{
    font-size: 50px;
    top: -105px;
}
h2{
    font-size: 32px;
}

/********** grid styles **********/
#desktop{
    display: grid;
    }
/********* thumbnail containers styles *********/
.dContainer div:nth-child(1),
.dContainer div:nth-child(2),
.dContainer div:nth-child(4),
.dContainer div:nth-child(5),
.dContainer div:nth-child(7),
.dContainer div:nth-child(8),
.dContainer div:nth-child(9),
.dContainer div:nth-child(10),
.dContainer div:nth-child(11),
.dContainer div:nth-child(12),
.dContainer div:nth-child(14),
.dContainer div:nth-child(15),
.dContainer div:nth-child(16),
.dContainer div:nth-child(17)
{
    border: .75px solid #ABAAAA;
}

.dContainer div:nth-child(1),
.dContainer div:nth-child(2){
    border-top: none;
}

.dContainer div:nth-child(15),
.dContainer div:nth-child(16),
.dContainer div:nth-child(17){
    border-bottom: none;
}
.dContainer div:nth-child(7),
.dContainer div:nth-child(10),
.dContainer div:nth-child(14),
.dContainer div:nth-child(17){
    border-right: none;
}

/********* illustration container styles *********/
.dContainer div:nth-child(3),
.dContainer div:nth-child(6),
.dContainer div:nth-child(13){
    background-color: #ABAAAA;
    
}

    body{
        width: 1200px;
        height: 750px;
        margin: auto;
    }

    main{
        display: flex;
        flex:2;
    }
    
    .left{
        width: 450px;
        height:750px ;
    }

    .dContainer{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 2fr);
        width: 750px;
        height:750px ;
        gap: 5.5px;
    }

    #s3{
        grid-column: span 2;
    }
    
    #s6{
        grid-row: span 2;
    }
    
    #s13{
        grid-row: span 2;
     
    }
    #s7{
        grid-column: 4;
        grid-row: 2;
    }

    #s10{
        grid-column: 4;
        grid-row: 3;

    }

    #s14{
        grid-column: 4;
        grid-row: 4;

    }

    #s17{
        grid-column: 4;
        grid-row: 5;

    }
 .cod{
     position: absolute;
     top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
     
 }    
/* desktop projects overlays */
.d1Over,
.d2Over,
.d3Over, 
.d4Over,
.d5Over,
.d6Over,
.d7Over,
.d8Over,
.d9Over,
.d10Over,
.m1Over,
.m2Over,
.m3Over,
.m4Over{
    background-color: #2d2d2def;
    margin: auto;
    height: 146px;
    width: 183.75px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: #EBEBEB;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Abhaya Libre', serif;
}

/* .d1Over :nth-child(2), 
.d2Over :nth-child(2), 
.d3Over :nth-child(2),
.d4Over :nth-child(2),
.d5Over :nth-child(2), 
.d6Over :nth-child(2), 
.d7Over :nth-child(2),
.d8Over :nth-child(2),
.d9Over :nth-child(2),
.d10Over :nth-child(2),
.m1Over :nth-child(2), 
.m2Over :nth-child(2), 
.m3Over :nth-child(2),
.m4Over :nth-child(2){
    
} */
.d1Over p,
.d2Over p, 
.d3Over p, 
.d4Over p,
.d5Over p,
.d6Over p, 
.d7Over p, 
.d8Over p,
.d9Over p,
.d10Over p, 
.m1Over p, 
.m2Over p,
.m3Over p,
.m4Over p{
    font-size: 15px;
}
.d1Over p span, 
.d2Over p span, 
.d3Over p span, 
.d4Over p span,
.d5Over p span, 
.d6Over p span, 
.d7Over p span, 
.d8Over p span,
.d9Over p span, 
.d10Over p span, 
.m1Over p span, 
.m2Over p span,
.m3Over p span, 
.m4Over p span{
    font-size: 12px;
}
.overlay:hover{
    opacity: 100;
}

.br{
    display: block;
    margin-bottom: -.4em;
    padding-bottom: 5px;
}
/* Desktop links Styling */
.aLink{
    color: black;
    font-weight: bolder;
}
.link{
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bolder;
    font-size: 14px;
    
    
}
.link:hover{
    color: #ABAAAA;
    
}
.credit{
color: #EBEBEB;
font-weight: bolder;
}   
.credit:hover{
    color: #ABAAAA;
}

/* drawings in grid */
#s3{
    display: flex;
    position: relative;
    justify-content: space-between;
}
#s3 h2 {
    display: block;
    font-size: 25px;
}
#s3 :last-child{
    align-items: flex-end;  
}


.bikeFlag{
    position: absolute;
    top: 58.7251%;
    left: 38%;
    transform: translate(-50%, -50%);
    padding-bottom: 1px;
}

.desk, .mob{
    display: flex;
    gap: 2px;
}
.desk img{
    padding: 0 0 0 3px;
    margin-top: 4px;
}

.mob img{
    padding: 0 3px 4px 0 ;
}
.mob h2{
    padding-bottom: 3px;  
}

#s6, #s13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   position: relative;
}
#s6 img, #s13 img{
    margin-left: auto;
    margin-right: auto;
    
}
#s6 :first-child, #s13 :first-child{
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
  
}

#s6 :last-child, #s13 :last-child{
    position: absolute;
   top: 73%;
   left: 50%;
   transform: translate(-50%, -50%);
}

}

/* @media screen and (min-width: 1300px){
    .dContainer{
        width: 850px;
        height:800px ;
        
    }
    .left{
        width: 450px;
        height:800px ;
    }

    body{
        width: 1300px;
        height: 800px;
        margin: auto;
    } */
    
/* } */